* {
  margin: 0;
  font-family: 'robot', sans-serif;
}

.text-center {
  text-align: center;
}

.rs__time {
  /* min-width: 30px !important; */
}
.MuiContainer-root > div > div:last-child {
  overflow-x: unset;
}

.MuiListItem-padding {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0;
  left: 0;
  z-index: 100;
  background: white;
}

.MuiFormLabel-root {
  text-transform: capitalize;
}

.calendario {
  max-width: 100%;
  height: 1000px;
  overflow: auto;
  /*overflow-y: visible !important;  */
}

.calendario .MuiTypography-root.MuiTypography-caption {
  /* transform: rotate(90deg) !important; */
  writing-mode: vertical-rl;
}

.calendario .MuiPaper-rounded + div {
  overflow-x: unset;
}
